@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f3f5;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  max-width: 1540px;
  margin: 0 auto;
  overflow: scroll;

  @media all and (max-width: 1200px) { 
    padding: 2rem 0;
  }

  &.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @media all and (max-width: 1200px) { 
      flex-direction: column;
    }
  }

  .starbucks-logo { 
    height: 50px;
  }

  .title {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 350px;

    h1 {
      font-size: 2rem;
      margin: 8px 0;
      text-align: center;
    }

    padding-left: 40px;

    @media all and (max-width: 1200px) { 
      padding-left: 0;
      text-align: center;
    }
  }
  .product-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 40px 0 80px;

    @media all and (max-width: 1200px) { 
      flex-direction: column;
      padding: 0
    }

    .card {
      box-sizing: border-box;
      box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, .1);
      position: relative;
      border-radius: 12px;
      padding: 24px;
      cursor: pointer;
      background: #ffffff;
      width: 425px;
      height: 425px;
      margin: 24px 0px 0px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media all and (max-width: 1200px) { 
        width: initial;
        margin: 24px 0px 0px 0px;
        min-height: 425; 
      }

      .category {
        font-size: 0.875rem;
        color: #424550;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin-bottom: 32px;
        display: block;
      }

      img {
        display: flex;
        margin: 0 auto;
        height: 250px;
        width: 250px;
      }
      .product-info {
        position: absolute;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 24px;

        @media all and (max-width: 1200px) { 
          flex-direction: column;
          align-items: flex-start;
        }

        h4 {
          color: #282828;
          font-size: 1.1rem;
        }

        span {
          display: block;
        }
      }
    }
  }
}

.fullscreen {
  height: 100vh;
  overflow: scroll;

  .product {
    height: 100vh;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 1200px) { 
      flex-direction: column;
    }

    .img {
      width: 50%;
      height: 100%;
      background: #dfdfdf;
      display: flex;
      align-items: center;
      justify-content: center;

      @media all and (max-width: 1200px) { 
        width: 100%;
      }

      img {
        cursor: move;
        width: 500px;

        @media all and (max-width: 1200px) { 
          width: 100%;
        }
      }
    }

    .product-details {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media all and (max-width: 1200px) { 
        width: 100%;
      }
      
      .inner {
        width: 480px;
        position: relative;

        @media all and (max-width: 1200px) { 
          width: 100%;
          h1, p, .additonals { 
            padding: 0 1rem;
          }

          h1 { 
            margin-top: 2rem;
          }
        }

     

        @media all and (max-width: 1200px) { 
          width: 100%;
        }

        .go-back {
          cursor: pointer;
          color: #282828;
          text-decoration: none;
          text-align: left;
          position: absolute;
          top: -124px;
          left: 0;

          @media all and (max-width: 1200px) { 
            left: 4%;
            top: -97px;
    
          }
        }
        .category {
          font-size: 1rem;
          color: #424550;
          font-weight: 500;
          text-align: center;
          width: 100%;
          margin-bottom: 32px;
        }
        p {
          color: #424550;
          font-weight: 300;
        }
        .additonals {
          margin: 24px 0 48px;
          span {
            margin-right: 16px;
            color: #424550;
          }
        }
        .qty-price {
          display: flex;
          align-items: center;
          justify-content: space-between;

         @media all and (max-width: 1200px) { 
           padding: 0 1rem;
         }

          .qty {
            display: flex;
            align-items: center;
            .add,
            .minus {
              padding: 6px;
              margin: 8px 16px;
              height: 24px;
              width: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px;
            }
            .add {
              border: 1px solid #282828;
              cursor: pointer;
            }
            .minus {
              margin-left: 0;
              background: #dfdfdf;
              color: #787878;
            }
          }
          .price {
            color: #282828;
            font-weight: 700;
            font-size: 1.4rem;
          }
        }

        .btn-row {
          margin-top: 72px;
          display: flex;
          flex-direction: row;
          align-items: center;

          @media all and (max-width: 1200px) { 
            flex-direction: column;
            margin-top: 20px;
          }

          button {
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 8px;
            height: 48px;
            padding: 0 48px;
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.06rem;
            box-shadow: 2px 2px .7rem .2rem rgba(0, 0, 0, 0.2);


            &.add-to-cart {
              background: #238457;
              color: #fff;
              margin-right: 24px;

              &:hover { 
                background: #1b6945;
              }

              @media all and (max-width: 1200px) { 
                margin: 1rem 0 0;
              }
            }
            
            &.subscribe {
              background: transparent;
              color: #424550;
              border: 2px solid #424550;

              &:hover { 
                background: #eee
              }

              @media all and (max-width: 1200px) { 
                margin: 1rem 0 2rem;
              }
            }

           
  
          }
        }
      }
    }
  }
}
